{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="page-title">
    <div class="title_left">
        <h3>Send SMS</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    <section class="content">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            <div class="box-header">
                              {% if messages %}
                                <ul class="messages alert alert-danger">
                                  {% for message in messages %}
                                    {{ message }}
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                              <form id="client-form" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="{% url 'sms' %}">
                                  {% csrf_token %}
                              <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_mobile">Send To <span class="required" style='color:red;'>*</span></label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input type="text" name="mobile" maxlength="16" required id="id_mobile" class="form-control col-md-7 col-xs-12"/></p>
                                </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_message">Message <span class="required" style='color:red;'>*</span></label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                       <textarea name="message" maxlength="128" required id="id_message" class="form-control col-md-7 col-xs-12"></textarea></p>
                                </div>
                              </div>
                              <div class="ln_solid"></div>
                              <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                  <button class="btn btn-primary" type="reset">Reset</button>
                                  <input type="submit" class="btn btn-success"/>
                                </div>
                              </div>
                            </form>
                            </div>
                            <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
